:root {
  --bg-color: #1e1e2e;
  --primary-color: #11111b;
  --secondary-color: #181825;
  --accent-color: #89b4fa;
  --text-color: #cdd6f4;
  --text-muted-color: #bac2de;
  --blue: #89b4fa;
  --green: #a6e3a1;
  --red: #f38ba8;
  --yellow: #f9e2af;
  --purple: #cba6f7;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

#home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#home .container h1 {
  font-size: 3.5rem;
  margin-bottom: 0.5rem;
}

#home .container h1 span {
  color: var(--accent-color);
}

#home .container p {
  font-size: 1.2rem;
  color: var(--text-muted-color);
  max-width: 600px;
  margin: 0 auto;
}
